<% content_for :javascript do %>
  <%= javascript_include_tag 'views/frontpage/show' %>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'frontpage', :media => "all" %>
<% end %>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=670208806400720&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_path, :class => 'navbar-brand' do image_tag 'logo.png', :alt => 'Rubyric' end %>
    </div>

    <%= form_for @session, :as => :session, :url => session_path, :html => {:class => 'navbar-form nav pull-right'} do |f| %>
      <div class="form-group">
        <%= f.text_field :email, :class => 'form-control input-sm text-input', :placeholder => 'Email' %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, :class => 'form-control input-sm text-input', :placeholder => t(:sessions_password_label) %>
      </div>
      <div class="checkbox">
        <label style="margin-right: 8px; font-size: small;">
          <%= f.check_box :remember_me, :class => 'form-control input-sm', :style => 'margin-top: -2px;' %>
          <%= t(:sessions_remember_label) %>
        </label>
      </div>
      
      <%= f.submit 'Sign In', :class => 'btn btn-default navbar-btn' %>
    <% end %>
  </div>
</nav>


<% if defined? SHIB_PATH %>
  <div class="frontpage-shib-login pull-right">
    <%= link_to image_tag('haka_portrait_large.gif', {:alt => '[Haka Login]'}), SHIB_PATH + shibboleth_session_url(:protocol => 'https') %>
  </div>
<% end %>

  
<div class="container">
  
  <%= render 'layouts/messages' %>
  
  <div class="row intro">
    <div class="col-sm-12">
      <%= t('.frontpage_intro_html').html_safe %>
    </div>
  </div>
  

  <div id="carousel" class="carousel slide hidden-xs hidden-sm" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag('carousel-annotation.png', :alt => '') %>
        <div class="carousel-caption">
          <p>Annotate submissions with feedback.</p>
        </div>
      </div>
      
      <div class="item">
        <%= image_tag('carousel-traditional.png', :alt => '') %>
        <div class="carousel-caption">
          <p>Written feedback can be given when annotating is not possible (e.g. video submissions).</p>
        </div>
      </div>
      
      <div class="item">
        <%= image_tag('carousel-rubric.png', :alt => '') %>
        <div class="carousel-caption">
          <p>Rubrics are constructed with an interactive editor.</p>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>
          Rubyric is hosted by 
          <!--, an educational technology company originally founded by a group of researchers and teachers from <a href="http://www.aalto.fi/en/" target="_blank">Aalto University</a>, Finland.-->
        </p>
        
        <p>
          email:
          <!-- contact<span class="obfuscate">-REMOVE-THIS-</span>@rubyric.com -->
        </p>
      </div>
    </div>
  </div>
</div>
