<!-- Tabs -->
<div class="row-fluid">
  <div class="span12">
    <ul id="tabs" class="nav nav-tabs">
      <li class="active">
        <a id="tab-settings-link" href="#tab-settings" data-toggle="tab"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <strong>Settings</strong></a>
      </li>
      <!-- ko foreach: pages -->
        <li><a data-toggle='tab' data-bind="text: showName(), attr: { href: tabUrl, id: tabLinkId }"></a></li>
      <!-- /ko -->
      
      <li id="create-page-tab">
        <a href="#" class="" data-bind="click: clickCreatePage"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new page</a>
      </li>
    </ul>
  </div>
</div>

<div id="tab-contents" class="tab-content">
  <!-- Settings tab -->
  <div class="tab-pane active" id="tab-settings">
    <div class="row-fluid">
      <div class="span4 well">
        <h3>Grading</h3>
        
        <div class="row-fluid">
          <div class="span6">
            <p><em>Mode:</em></p>
            <ul id="grading-mode" class="unstyled">
              <li><label><input type="radio" name="grading-mode" data-bind="checked: gradingMode" value="no" /> No grade</label></li>
              <li><label><input type="radio" name="grading-mode" data-bind="checked: gradingMode" value="average" /> Mean</label></li>
              <li><label><input type="radio" name="grading-mode" data-bind="checked: gradingMode" value="sum" /> Sum</label></li>
              
              <% if defined?(@course_instance) && @course_instance.submission_policy == 'lti' %>
                <li><label><input type="radio" name="grading-mode" data-bind="checked: gradingMode" value="always_pass" /> Always pass</label></li>
              <% end %>
            </ul>
          </div>
          
          <div class="span6" data-bind="visible: $root.gradingMode() == 'average'">
            <p><em>Scale:</em></p>
            <table>
              <tbody class="grading-scale" id="grading-scale" data-bind="sortable: {data: grades, options: {containment: '#grading-scale', axis: 'y', distance: 5}} ">
                <tr>
                  <td data-bind="editable: {value: value, editorActive: editorActive, placeholder: '<grade missing>'}"></td>
                  <td class="buttons-column">
                    <div class="buttons">
                      <span class="glyphicon glyphicon-pencil edit-grade-button" title="Edit grade" data-bind="click: activateEditor" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-trash delete-phrase-button" title="Delete grade" data-bind="click: deleteGrade" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-vertical move-phrase-button" title="Drag to move grade" aria-hidden="true"></span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>
              <button class="btn btn-sm create-grade-button" data-bind="click: createGrade"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add grade</button>
            </p>
          </div>
        </div>
        
      </div>
      
      <div class="span4 well">
        <i id="tooltip-categories" class="tooltip-help pull-right glyphicon glyphicon-question-sign" data-content="<%=t 'rubrics.edit.tooltip_categories' %>"></i>
        <h3>Feedback categories</h3>
        
        <!-- ko if: feedbackCategories().length > 1 -->
          <table>
            <tbody id="feedback-categories" data-bind="sortable: {data: feedbackCategories, options: {containment: '#feedback-categories', axis: 'y', distance: 5}}">
              <tr class="category">
                <td class="category" data-bind="editable: {value: name, editorActive: editorActive, placeholder: '<no name>'}"></td>
                <td class="buttons-column">
                  <div class="buttons">
                    <span class="glyphicon glyphicon-pencil edit-button" title="Edit" data-bind="click: activateEditor" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-trash delete-button" title="Delete" data-bind="click: deleteCategory" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-resize-vertical move-button" title="Drag to move" aria-hidden="true"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        <!-- /ko -->
        <!-- ko if: feedbackCategories().length <= 1 -->
          <p class="hint"><%=t 'rubrics.edit.no-categories' %></p>
        <!-- /ko -->

        <!-- ko if: $root.feedbackCategories().length < 3 -->
          <div id="create-category-button" class="btn btn-sm" data-bind="click: clickCreateCategory"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create category</div>
        <!-- /ko -->
      </div>
      
      <div class="span4 well">
        <i id="tooltip-multilanguge" class="tooltip-help pull-right glyphicon glyphicon-question-sign" data-content="<%=t 'rubrics.edit.tooltip_languages' %>"></i>
        <h3>Languages</h3>
        <!-- ko if: languages().length <= 1 -->
          <p class="hint"><%=t 'rubrics.edit.one_language' %></p>
        <!-- /ko -->
        <!-- ko if: languages().length > 1 -->
          <table>
            <tbody id="languages-list" data-bind="sortable: {data: languages, options: {containment: '#languages-list', axis: 'y', distance: 5}}">
              <tr>
                <td data-bind="editable: {value: name, editorActive: editorActive, placeholder: '<no name>'}"></td>
                <td class="buttons-column">
                  <div class="buttons">
                    <span class="glyphicon glyphicon-pencil edit-button" title="Edit" data-bind="click: activateEditor" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-trash delete-button" title="Delete" data-bind="click: deleteLanguage" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-resize-vertical move-button" title="Drag to move" aria-hidden="true"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        <!-- /ko -->
        
        <p>
          <button class="btn btn-sm" data-bind="click: clickAddLanguage"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add language</button>
        </p>
      </div>
      
      <div class="span4 well">
        <h3>Feedback email</h3>

        <p>
          Final comment
          <i id="tooltip-final-comment" class="tooltip-help pull-right glyphicon glyphicon-question-sign" data-content="<%=t 'rubrics.edit.tooltip_final_comment' %>"></i>
        </p>
        <textarea data-bind="value: finalComment"></textarea>
        
      </div>
    </div>
    <% unless @exercise.new_record? %>
      <%= link_to @exercise do %><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Back to <%= @exercise.name %><% end %>
    <% end %>
  </div>
  
  <!-- Rubric page tab -->
  <!-- ko foreach: pages -->
    <div class="tab-pane page" data-bind="attr: { id: tabId }">
      <div class="page-title">
        <h2 title="Page title">
          <!-- ko if: textFields().length > 1 -->
            <!-- ko foreach: textFields -->
              (<span data-bind="text: language.name"></span>)
              <span class="title" data-bind="editable: {value: text, editorActive: editorActive, placeholder: 'Untitled page', inputPlaceholder: 'Page title'}"></span> | 
            <!-- /ko -->
          <!-- /ko -->
          
          <!-- ko if: textFields().length <= 1 -->
            <!-- ko foreach: textFields -->
              <span class="title" data-bind="editable: {value: text, editorActive: editorActive, placeholder: 'Untitled page', inputPlaceholder: 'Page title'}"></span>
            <!-- /ko -->
          <!-- /ko -->
          <span class="sumRangeSummary" data-bind="html: sumRangeHtml"></span>
        </h2>
        
        <span class="sumRange buttons" title="Clamp to this range (optional)">
          <input placeholder="min" type="text" data-bind="value: minSum, valueUpdate: 'input'" />&ndash;<input placeholder="max" class="sumRange" type="text" data-bind="value: maxSum, valueUpdate: 'input'" />
        </span>
        
        <!-- ko if: !instructions() || instructions().length == 0 -->
          <span class="buttons addInstructions">
            <a data-bind="click: addInstructions">Add grading instructions</a>
          </span>
        <!-- /ko -->
          
        <span class="buttons">
          <span class="glyphicon glyphicon-pencil edit-page-button" title="Edit title" data-bind="click: activateEditor" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-trash delete-page-button" title="Delete page" data-bind="click: deletePage" aria-hidden="true"></span>
        </span>
        
        <div class="clear"></div>
        
        <!-- Grading instructions (page) -->
        <!-- ko if: (instructions() && instructions().length > 0) || instructionsEditorActive() -->
          <p class="grading-instructions" title="Instructions for reviewer (click to edit)" data-bind="editable: {value: instructions, editorActive: instructionsEditorActive, type: 'textarea', inputPlaceholder: 'Instructions for reviewer'}"></p>
        <!-- /ko -->
      </div>
      
      <div class="rubric" data-bind="sortable: {data: criteria, options: {containment: '#rubric-editor', axis: 'y', distance: 5} }">
        <div class="criterion">
          <!-- Heading -->
          <div class="criterion-title">
            <h3>
              <!-- ko if: textFields().length > 1 -->
                <!-- ko foreach: textFields -->
                  (<span data-bind="text: language.name"></span>)
                  <span class="title" title="Criterion title (click to edit)" data-bind="editable: {value: text, editorActive: editorActive, placeholder: 'Untitled Criterion', inputPlaceholder: 'Criterion title' }"></span> |
                <!-- /ko -->
              <!-- /ko -->
              <!-- ko if: textFields().length <= 1 -->
                <!-- ko foreach: textFields -->
                  <span class="title" title="Criterion title (click to edit)" data-bind="editable: {value: text, editorActive: editorActive, placeholder: 'Untitled Criterion', inputPlaceholder: 'Criterion title' }"></span>
                <!-- /ko -->
              <!-- /ko -->
              <span class="sumRangeSummary" data-bind="html: sumRangeHtml"></span>
            </h3>
            
            <span class="sumRange buttons" title="Clamp to this range (optional)">
              <input placeholder="min" type="text" data-bind="value: minSum, valueUpdate: 'input'" />&ndash;<input placeholder="max" class="sumRange" type="text" data-bind="value: maxSum, valueUpdate: 'input'" />
            </span>
            
            <!-- ko if: !instructions() || instructions().length == 0 -->
              <span class="buttons addInstructions">
                <a data-bind="click: addInstructions">Add grading instructions</a>
              </span>
            <!-- /ko -->
            
            <span class="buttons">
              <span class="glyphicon glyphicon-pencil edit-criterion-button" title="Edit criterion title" data-bind="click: activateEditor" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-trash delete-criterion-button" title="Delete criterion" data-bind="click: deleteCriterion" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-resize-vertical move-criterion-button" title="Drag to move criterion" aria-hidden="true"></span>
            </span>
              
            <div class="clear"></div>
          </div>

          <!-- Grading instructions (criterion) -->
          <!-- ko if: (instructions() && instructions().length > 0) || instructionsEditorActive() -->
            <p class="grading-instructions" title="Instructions for reviewer (click to edit)" data-bind="editable: {value: instructions, editorActive: instructionsEditorActive, type: 'textarea', inputPlaceholder: 'Instructions for reviewer'}"></p>
          <!-- /ko -->

          <!-- Phrases -->
          <div class="phrases">
            <table class="phrases">
              <tbody data-bind="sortable: { data: phrases, connectClass: 'phrases-container', options: {containment: '#rubric-editor', axis: 'y', distance: 5} }" class="phrases-container">
                <tr class="phrase">
                  <!-- ko if: $root.feedbackCategories().length > 1 -->
                    <td class="phraseType">
                      <select class="phraseType" data-bind="options: $root.feedbackCategories, optionsText: 'name', value: category">
                      </select>
                    </td>
                  <!-- /ko -->
                  <!-- ko if: ($root.gradingMode() == 'average' && $root.grades().length > 0) -->
                    <td class="phraseType">
                      <select class="phraseType" data-bind="options: $root.grades, optionsCaption: ' ', optionsText: 'value', value: grade">
                      </select>
                    </td>
                  <!-- /ko -->
                  <!-- ko if: $root.gradingMode() == 'sum' -->
                    <td class="phraseType">
                      <input title="Points (optional)" class="phraseType" type="text" data-bind="value: gradeValue" />
                    </td>
                  <!-- /ko -->
                  <td class="phrase" data-bind="editable: {value: content, editorActive: editorActive, type: 'textarea', placeholder: 'click to edit', inputPlaceholder: 'Feedback phrase'}"></td>
                  <td class="buttons-column">
                    <div class="buttons">
                      <span class="glyphicon glyphicon-pencil edit-phrase-button" title="Edit phrase" data-bind="click: activateEditor" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-trash delete-phrase-button" title="Delete phrase" data-bind="click: deletePhrase" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-resize-vertical move-phrase-button" title="Drag to move phrase" aria-hidden="true"></span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- Create phrase -->
            <div class="btn create-phrase-button buttons" data-bind="click: clickCreatePhrase">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new phrase
            </div>
          </div>
        </div>
      </div>

      <!-- Create criterion -->
      <div class="btn create-criterion-button" data-bind="click: clickCreateCriterion">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new criterion
      </div>
    </div>
  <!-- /ko -->
</div>

<% content_for :help do %>
  <div id="final-comment-help" class="hide">
    Final comment is automatically added in the end of the feedback email.
  </div>
<% end %>
 
