<!-- rubrics/edit.html.erb -->
<% content_for :javascript do %>
  <%= javascript_include_tag 'views/rubrics/edit' %>
<% end %>

<form>
  <%= hidden_field_tag :rubric_payload, @exercise.rubric %>
  <%= hidden_field_tag :review_tab_id, @tab_id %>
</form>

<div class="page-header">
  <div class="pull-right" style="text-align: right">
    <div class="btn-group">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="glyphicon glyphicon-align-justify"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><%= link_to 'Upload rubric', upload_exercise_rubric_path(@exercise) %></li>
        <li><%= link_to 'Download rubric', download_exercise_rubric_path(@exercise) %></li>
      </ul>
    </div>
    <button class="btn btn-success" data-bind="click: clickSaveRubric, enable: !busySaving()">
      <!-- ko if: busySaving() -->
        <%= image_tag('ajax-loader-small.gif', :alt => 'Saving') %>
      <!-- /ko -->
      <!-- ko if: !busySaving() -->
        Save
      <!-- /ko -->
    </button>
    <% if @review %>
      <%= link_to "Back to review", edit_review_path(@review, tab_id: @tab_id), class: "btn btn-primary"%>
    <% end %>
    <p id="save-message" class="transient-message">Changes saved</p>
  </div>
  
  <h1><%= link_to @exercise do %><i class='icon icon-arrow-left'></i><%= @exercise.name %><% end %> - Editing rubric</h1>
</div>

<div class="tabbable rubric-editor" id="rubric-editor" data-url="<%= exercise_rubric_url(@exercise.id) %>">
  <%= render 'rubric_editor' %>
</div>
