<!-- reviews/show.html.erb -->

<div class="page-header">
  <h1><%= "#{@course.full_name} (#{@course_instance.name}) - #{@exercise.name}" %></h1>
</div>

<% if @course.has_teacher(current_user) && @review.status == 'mailed' %>
  <div class="row">
    <div class="alert alert-info">
      <p>This review has already been mailed and cannot be modified anymore.</p>
      <%= link_to 'Reopen', reopen_review_path(@review), class: 'btn' %>
      <%= link_to 'Invalidate', invalidate_review_path(@review), class: 'btn' %>
    </div>
  </div>
<% end %>

<% if @review.status == 'invalidated' %>
  <div class="row">
    <div class="alert alert-warning">
      <p>
        This review has been invalidated and cannot be modified anymore nor
        delivered to students.
      </p>
    </div>
  </div>
<% end %>

<p>
  <b>Submission:</b>
  <%= l @submission.created_at, format: :long %>
  <% unless @submission.filename.blank? %>
    (<%= link_to "#{@submission.extension}", submission_url(@submission, member_token: params[:member_token], group_token: params[:group_token]) %>
    )
  <% end %>
</p>

<% unless @submission.payload.blank? %>
  <pre class="payload"><%= @submission.payload.gsub('<', '&lt;').gsub('>', '&gt;').gsub(URI.regexp, '<a target="_blank" href="\0">\0</a>').html_safe %></pre>
<% end %>

<% if @submission.video? %>
  <%= video_player(@submission.payload) %>
<% end %>

<!-- Review created/updated time -->
<p>
  <b>Review updated:</b> <%=l @review.updated_at, format: :long %> <small>(created <%=l @review.created_at%>)</small>
</p>

<% if !@exercise.anonymous_graders && @grader %>
  <p><b>Reviewer:</b> <%= @grader.name %></p>
<% end %>

<% if !@exercise.anonymous_graders && @editors && @editors.size > 0 %>
  <p>
    <b>Edited by:</b> 
    <% @editors.each_with_index do |editor, index| %>
      <%= editor.name %><% if index < @editors.size - 1 %>,<% end %>
    <% end %>
  </p>
<% end %>

<% unless @review.grade.blank? %>
  <p>Grade: <%= @review.grade %></p>
<% end %>

<% unless @review.feedback.blank? %>
  <p class="feedback-preview"><%= (@review.feedback || '').gsub('<', '&lt;').gsub('>', '&gt;').gsub("\n", "<br />\n").html_safe %></p>
<% end %>

<% unless @review.filename.blank? %>
  <p>Uploaded feedback: <%= link_to @review.filename, download_review_path(@review) %></p>
<% end %>

<%= render 'rate_review' %>

<% if params[:ref] == 'exercises' %>
  <% if params[:mode] == 'modal' %>
    <p><a href="#" data-dismiss="modal"><%= t('Back') %></a></p>
  <% else %>
    <p><%= link_to t('Back'), @exercise %></p>
  <% end %>
<% else %>
  <p><%= link_to t('Back'), submit_url(@exercise.id, group: @group, member_token: params[:member_token], group_token: params[:group_token]) %></p>
<% end %>
