<div class="col-lg-12 col-sm-12 col-xs-12">
  <div class="group well" id="group<%= collaborative_group.id %>">
    <!-- Name -->
    <!-- TODO: if student, print student name, if group, print member names -->
    <h2>
      <% if @exercise.anonymous_submissions %>
        <%= collaborative_group.users.map {|u| u.name}.join(', ') %>
      <% else %>
        <%= collaborative_group.name %>
      <% end %>
    </h2>

    <!-- Reviews -->
    <div class="submissions">
      <% collaborative_group.submissions.each_with_index do |submission, index| %>
          <% if index > 0 %>
              <hr/>
          <% end %>

          <div class="submission">
            <!-- Thumbnail -->
            <div class="submission-thumbnail row">
              <% if submission.conversion == 'image' %>
                  <% if submission.reviews.size > 0 %>
                      <%= image_tag thumbnail_submission_path(submission), alt: submission.filename %>
                  <% else %>
                      <%= link_to submission_path(submission) do %>
                          <%= image_tag thumbnail_submission_path(submission), alt: submission.filename %>
                      <% end %>
                  <% end %>
              <% elsif submission.video? %>
                <%= video_player(submission.payload, 240) %>
              <% end %>

              <%= link_to submission_path(submission), type: 'button', class: 'btn btn-sm btn-default', 'data-toggle': 'tooltip', title: submission.filename do %>
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                Submission <%= index + 1 %>
              <% end %>
              <% if @exercise.collaborative_mode == 'review' && !submission.annotatable? %>
                  <%= link_to review_submission_path(submission.id), class: 'btn btn-sm btn-primary' do %>
                    <span class="glyphicon glyphicon-plus" style="color: white" aria-hidden="true"></span> <%= t('exercises.create_comment')%>
                  <% end %>
              <% end %>
            </div>

            <div class="row">
              <% unless submission.payload.blank? %>
                  <pre class="payload"><%= truncate(submission.payload, length: 256).gsub('<', '&lt;').gsub('>', '&gt;').gsub(URI.regexp, '<a target="_blank" href="\0">\0</a>').html_safe %></pre>
              <% end %>

              <div class="reviews">
                <% submission.reviews.each do |review| %>
                    <% if @exercise.collaborative_mode == 'review' && review.user.nil? %>
                      <div class="col-md-1">
                        <%= link_to t('exercises.create_comment'), edit_review_path(id: review.id, ref: 'exercises'), class: 'btn btn-primary' %>
                      </div>
                    <% else %>
                      <div class="col-md-1">
                        <%
                          if review.preview_feedback.blank?
                            tooltip = t('exercises.my_submissions.view_collaborative_feedback')
                          else
                            tooltip = truncate(review.preview_feedback || '', length: 256)
                          end
                        %>
                        <% if review.status %>
                          <h2>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#review-<%= review.id %>"><%= reviewer_name(review) %></button>

                            <div class="modal fade bs-example-modal-lg" id="review-<%= review.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-url="<%= review_path(id: review.id, ref: 'exercises', mode: 'modal') %>">
                              <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                  Loading...
                                </div>
                              </div>
                            </div>

                            <%= link_to reviewer_name(review), review_path(id: review.id, ref: 'exercises'),
                                class: 'label label-default',
                                'data-toggle' => 'popover',
                                title: reviewer_name(review),
                                'data-content' => tooltip %>
                          </h2>
                        <% end %>
                      </div>
                    <% end %>
                <% end %>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>
      <% end %>
    </div>
  </div>
</div>
